.bgPrimary {
  background-color: $primary;
}

.bgSecondary {
  background-color: $secondary;
}

.bgPrimaryLight {
  background-color: $primary-light;
}

.color-primary {
  color: $primary;
}

.color-primary-light {
  color: $primary-light;
}

.color-secondary {
  color: $secondary;
}

.color-light {
  color: $white;
}

.color-dark {
  color: $black;
}

.color-gray {
  color: $gray;
}