.home {

}

.home-main {
  width: 100%;
  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  &__nav-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100vh;
    height: 100vw;
    z-index: 100;
    transform: rotate(-90deg) translateX(-100%) translateZ(0);
    transform-origin: 0 0;
  }
}

.home-main-nav {
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    //height: 100vw;
    padding-left: 1.5rem;
    text-transform: uppercase;
  }
  &__item {
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
  }
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 100;
    width: 100%;
    height: 100%;
  }
  &__title {
    position: relative;
    display: inline-block;
    margin-right: 1vw;
    font-size: 3.8vmax;
    font-weight: 400;
    font-weight: 700;
    line-height: 1.19;
    color: $black;
  }
}

.home-main-preview {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  overflow: hidden;
  &__item {
    visibility: hidden;
    position: absolute;
    &--services {
      top: 0;
      right: calc(50% - 45vh);
      width: 81.5vh;
    }
    &--styles {
      top: calc(50% - 33vh);
      right: calc(50% - 18vh);
      width: 25vh;
    }
    &--order {
      top: calc(50% - 44vh);
      right: calc(50% - 82vh);
      width: 95vh;
    }
    &--date {
      top: calc(50% - 44vh);
      right: calc(50% - 7vh);
      width: 45vh;
    }
    &--virgin {
      top: calc(50% - 50vh);
      right: calc(50% - 71vh);
      width: 100vh;
      opacity: .8;
    }
    &--relax {
      top: calc(50% - 44vh);
      right: calc(50% - 31vh);
      width: 57vh;
    }
    &--breakfast {
      top: calc(50% - 46vh);
      right: calc(50% - -8vh);
      width: 61vh;
    }
    &--contact {
      top: calc(50% - 30vh);
      right: calc(50% - 63vh);
      width: 121vh;
    }
    &--about {
      top: calc(50% - 52vh);
      right: calc(50% - 38vh);
      width: 90vh;
    }
  }
  &__img {
    height: 100%;
    width: 100%;
    transform: translate3d(0,0,0);
    vertical-align: middle;
  }
}