div(class="ticker")
  div(class="ticker__container")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
  div(class="ticker__container")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")
    div(class="ticker__img-container")
      img(class="ticker__img" src="../assets/img/date/wine.png" alt="wine")