extends ../layouts/default

block variables
  - const title = "Pastel страница ошибки"
  - const description = "Страница не найдена, вернитесь на страницу домой, с любовью, Pastel :3"
  - const theme = ""

block content
  div(class="container error-page")
    main(class="error-page__main")
      h1(class="error-page__title") 404
      p(class="error-page__text") Вернуться 
        a(class="error-page__link" href="/") домой
    .FlyingImagesContainer
