extends ../layouts/default

block variables
  - const title = "About Page"
  - const description = "About Page"

block content
  main(class="about container")
    div(class="section")
      h1(class="about__title visually-hidden") О НАС
      p(class="about__text")
        a(class="about__link" href="#") 
          span() Пастель 
        span() представляет собой новую модель организации отдыха. 
        br()
        span() В первую очередь мы занимаемся предоставлением красивых 
        img(class="about__img" src="https://saiosore.github.io/portfolio/test/assets/sun.png" alt="img") 
        span() 
        a(class="about__link" href="#") 
          span() услуг. 
        br()
        span() Нашей мечтой 
        img(class="about__img" src="https://saiosore.github.io/portfolio/test/assets/sun.png" alt="img") 
        span() 
        span() является создание 
        span() уютного места, 
        img(class="about__img" src="https://saiosore.github.io/portfolio/test/assets/sun.png" alt="img") 
        span() 
        span() которое каждый сможет украсить в зависимости от своих 
        a(class="about__link" href="#") 
          span() предпочтений. 
        br()
        span() Наша основная цель - это стильно-организованные пространства для 
        a(class="about__link" href="#") 
          span() мероприятий 
        img(class="about__img" src="https://saiosore.github.io/portfolio/test/assets/sun.png" alt="img") 
        span() 
        span() как романтических так и для самих себя. 
        img(class="about__img" src="https://saiosore.github.io/portfolio/test/assets/sun.png" alt="img") 
        span() 
      p(class="about__text")
        a(class="about__link" href="#") 
          span() Напишите нам.
