extends ../layouts/default

block variables
  - const title = "Pastel О НАС"
  - const description = "Pastel представляет собой новую модель организации отдыха. "

block content
  main(class="about container")
    div(class="section")
      h1(class="about__title visually-hidden") О НАС
      p(class="about__text")
        a(class="about__link" href="/") 
          span() Пастель 
        span() представляет собой новую модель организации отдыха. 
        span() В первую очередь мы занимаемся предоставлением красивых 
        img(class="about__img" src="./assets/img/about/10.png" alt="img") 
        span() 
        a(class="about__link" href="./services.html") 
          span() услуг. 
        span() Нашей мечтой 
        img(class="about__img" src="./assets/img/about/14.png" alt="img") 
        span() 
        span() является создание 
        span() уютного места, 
        img(class="about__img" src="./assets/img/about/18.png" alt="img") 
        span() 
        span() которое каждый сможет украсить в зависимости от своих 
        a(class="about__link" href="./styles.html") 
          span() предпочтений. 
        span() Наша основная 
        img(class="about__img" src="./assets/img/about/16.png" alt="img") 
        span() 
        span() цель - это стильно-организованные пространства для 
        a(class="about__link" href="./order.html") 
          span() мероприятий 
        img(class="about__img" src="./assets/img/about/11.png" alt="img") 
        span() 
        span() как романтических так и для самих себя. 
      p(class="about__text")
        a(class="about__link" href="mailto:glambertfever@gmail.com") 
          span() Напишите нам.
