extends ../layouts/default

block variables
  - const title = "Breakfast Page"
  - const description = "Breakfast Page"
  - const navColor = ""
  - const theme = "darkToPrimary"
  - const num = "003"
  - 
    ticker = { src: "../assets/img/breakfast/camera.png",
        alt: "camera",
        num: 20,
        imgContainerClass: "small"
      }
  - 
    serviceMain = { pageTitle: "I-Завтрак",
        title: "",
        descr: "Создание трёх пикник-образов для фото, которые вы можете использовать для вашего Инстаграм блога, с последующим пикником с реквизитом.",
        src: "../assets/img/breakfast/breakfast.jpg",
        alt: "date",
      }
  - 
    serviceInfo = { title: "I-завтрак",
        descr: "Красивыми фото в интернете вдохновляются многие - их репостят и добавляют в свои муд-борды многие стилисты. Мы создадим для вас три разнообразные композиции, которые вы сможете добавить в свой блог и провести пикник со всем содержимым вашего заказа.",
      }
  - 
    categories = [
      { 
        price: '600',
        descr: 'Равным образом сложившаяся структура организации позволяет выполнять важные задания по разработке систем массового участия. Таким образом реализация намеченных плановых заданий позволяет оценить.',
      },
      { 
        price: '1000',
        descr: 'Равным образом сложившаяся структура организации позволяет выполнять важные задания по разработке систем массового участия. Таким образом реализация намеченных плановых заданий позволяет оценить.',
      },
      { 
        price: '1500',
        descr: 'Равным образом сложившаяся структура организации позволяет выполнять важные задания по разработке систем массового участия. Таким образом реализация намеченных плановых заданий позволяет оценить.',
      },
    ]
  - 
    serviceNext = { title: "Девичник",
        link: "./hen-party.html",
        src: "../assets/img/hen-party/hen-party.jpg",
        num: "004",
      }

block content
  div(class="breakfast service")
    +service-main(serviceMain)
    +service-number(num)
    +service-info(serviceInfo.title, serviceInfo.descr)
    +tickerImg(ticker)
    +categories(categories)
    +service-next(serviceNext)