extends ../layouts/default

block variables
  - const title = "Breakfast Page"
  - const description = "Breakfast Page"
  - const navColor = ""
  - const theme = "darkToPrimary"
  - const num = "003"
  - 
    ticker = { src: "../assets/img/breakfast/camera.png",
        alt: "camera",
        num: 20,
        imgContainerClass: "small"
      }
  - 
    serviceMain = { pageTitle: "I-Завтрак",
        title: "",
        descr: "Создание трёх пикник-образов для фото, которые вы можете использовать для вашего Инстаграм блога, с последующим пикником с реквизитом.",
        src: "../assets/img/breakfast/breakfast.jpg",
        alt: "date",
      }
  - 
    serviceInfo = { title: "I-завтрак",
        descr: "Красивыми фото в интернете вдохновляются многие - их репостят и добавляют в свои муд-борды многие стилисты. Мы создадим для вас три разнообразные композиции, которые вы сможете добавить в свой блог и провести пикник со всем содержимым вашего заказа.",
      }
  - 
    categories = [
      { 
        price: '900',
        descr: 'Подготовленное безопасное место, комфортные подушки, украшения в выбранном вами стиле, 1 пакет -  вино, круассаны, фрукты, 2 пакет - багет, фрукты, сок, соус, 3 пакет - фрукты, напитки, круасаны, вода, красивая посуда, пледы на случай ветреной погоды, украшение живыми цветами, фотосьемка предметная и общая.',
        time: '90 мин.',
      },
      { 
        price: '1500',
        descr: 'Подготовленное безопасное место, комфортные подушки, украшения в выбранном вами стиле, 1 пакет - бисквитный сендвич с цветами, желе с цветами, напиток с цветами, 2 пакет - 2 лимонада, фрукты, реквизит, 3 пакет - хлеб, два вида сыра, фрукты, вино, французский багет, круассаны, вода, красивая посуда, пледы на случай ветреной погоды, украшение живыми цветами, фотосъемка предметная и общая.',
        time: '2 часа.',
      },
      { 
        price: '2000',
        descr: 'Подготовленное безопасное место, комфортные подушки, украшения в выбранном вами стиле, 1 пакет - бисквитный сендвич с цветами, желе с цветами, напиток с цветами, 2 пакет - 2 лимонада, фрукты, реквизит, 3 пакет - хлеб, два вида сыра, фрукты, вино, французский багет, круассаны, вода, красивая посуда, пледы на случай ветреной погоды, украшение живыми цветами, фотосъемка предметная и общая.',
        time: '2 часа.',
      },
    ]
  - 
    serviceNext = { title: "Девичник",
        link: "./hen-party.html",
        src: "../assets/img/hen-party/hen-party.jpg",
        num: "004",
      }

block content
  div(class="breakfast service")
    +service-main(serviceMain)
    +service-number(num)
    +service-info(serviceInfo.title, serviceInfo.descr)
    +tickerImg(ticker)
    +categories(categories)
    +service-next(serviceNext)