extends ../layouts/default

block variables
  - const title = "Contact Page"
  - const description = "Contact Page"
  - const theme = "bw"

block content
  div(class="container contact")
    main(class="contact__main")
      div(class="contact__descr")
        p() давайте начнем — 
        br()
        p() Задайте нам свой вопрос.
      div(class="contact__content")
        h1(class="title contact__title") Контакты
        a(class="contact__link" href="mailto:glambertfever@gmail.com") glambertfever@gmail.com
        a(class="contact__link" href='tel:+380636174795') +380636174795
        include ../socials/socials
    .FlyingImagesContainer
