extends ../layouts/default

block variables
  - const title = "Date Page"
  - const description = "Date Page"
  - const navColor = "menu-black"
  - const num = "001"
  - 
    ticker = { src: "../assets/img/date/wine.png",
        alt: "wine",
        num: 20,
        imgContainerClass: "small"
      }
  - 
    serviceMain = { pageTitle: "Свидание",
        title: "",
        descr: "Романтический пикник для двоих с красивым антуражем.",
        src: "../assets/img/date/date.jpg",
        alt: "date",
      }
  - 
    serviceInfo = { title: "Свидание",
        descr: "Когда речь заходит об организации свидания, на ум приходят банальные встречи при свечах в ресторанах или на крыше, но мы перевернули игру и хотим преподносить романтику в естественной обстановке и в натуральных красках.",
      }
  - 
    categories = [
      { 
        price: '600',
        descr: 'Равным образом сложившаяся структура организации позволяет выполнять важные задания по разработке систем массового участия. Таким образом реализация намеченных плановых заданий позволяет оценить.',
      },
      { 
        price: '1000',
        descr: 'Равным образом сложившаяся структура организации позволяет выполнять важные задания по разработке систем массового участия. Таким образом реализация намеченных плановых заданий позволяет оценить.',
      },
      { 
        price: '1500',
        descr: 'Равным образом сложившаяся структура организации позволяет выполнять важные задания по разработке систем массового участия. Таким образом реализация намеченных плановых заданий позволяет оценить.',
      },
    ]
  - 
    serviceNext = { title: "Релакс",
        link: "./relax.html",
        src: "../assets/img/relax/relax.jpg",
        num: "002",
      }

block content
  div(class="date service")
    +service-main(serviceMain)
    +service-number(num)
    +service-info(serviceInfo.title, serviceInfo.descr)
    +tickerImg(ticker)
    +categories(categories)
    +service-next(serviceNext)
