extends ../layouts/default

block variables
  - const title = "Pastel Свидание"
  - const description = "Ознакомьтесь и закажите услугу Свидание компании Pastel"
  - const navColor = "menu-black"
  - const num = "001"
  - 
    ticker = { src: "../assets/img/date/wine.png",
        alt: "wine",
        num: 20,
        imgContainerClass: "small"
      }
  - 
    serviceMain = { pageTitle: "Свидание",
        title: "",
        descr: "Романтический пикник для двоих с красивым антуражем.",
        src: "../assets/img/date/date.jpg",
        alt: "date",
      }
  - 
    serviceInfo = { title: "Свидание",
        descr: "Когда речь заходит об организации свидания, на ум приходят банальные встречи при свечах в ресторанах или на крыше, но мы перевернули игру и хотим преподносить романтику в естественной обстановке и в натуральных красках.",
      }
  - 
    categories = [
      { 
        price: '900',
        descr: 'Подготовленное безопасное место, комфортные подушки, украшения в выбранном вами стиле, сырно-мясная тарелка, Закуски и соусы, сезонные фрукты, французский багет, круассаны, вино или напиток на выбор, вода, красивая посуда, пледы на случай ветреной погоды, украшение живыми цветами.',
        time: '90 мин.',
      },
      { 
        price: '1200',
        descr: 'Подготовленное безопасное место, комфортные подушки, украшения в выбранном вами стиле, сырно-мясная тарелка 2 сыра-2 мяса, сезонные фрукты ,закуски и соусы, французский багет, круассаны, вино или напиток на выбор, вода, красивая посуда, пледы на случай ветреной погоды, украшение живыми цветами, пицца из вашего любимого заведения.',
        time: '2 часа.',
      },
      { 
        price: '2000',
        descr: 'Подготовленное безопасное место, комфортные подушки, украшения в выбранном вами стиле, сырно-мясная тарелка 3 сыра-3 мяса, больше фруктов, больше закусок, соусы, французский багет, круассаны, вино или напиток на выбор, вода, красивая посуда, пледы на случай ветреной погоды, украшение живыми цветами, пицца из вашего любимого заведения, восточная сладкая тарелка, профессиональная фотосъемка.',
        time: '2.5 часа.',
      },
    ]
  - 
    serviceNext = { title: "Релакс",
        link: "./relax.html",
        src: "../assets/img/relax/relax.jpg",
        num: "002",
      }

block content
  div(class="date service")
    +service-main(serviceMain)
    +service-number(num)
    +service-info(serviceInfo.title, serviceInfo.descr)
    +tickerImg(ticker)
    +categories(categories)
    +service-next(serviceNext)
