extends ../layouts/default

block variables
  - const title = "Hen-party Page"
  - const description = "Hen-party Page"
  - const navColor = ""
  - const bodyClass = "bgPrimaryLight"
  - const theme = "darkToPrimary"
  - const num = "004"
  - 
    ticker = { src: "../assets/img/hen-party/c.png",
        alt: "bakery",
        num: 20,
        imgContainerClass: "small"
      }
  - 
    serviceMain = { pageTitle: "Девичник",
        title: "",
        descr: "Мальчикам вход воспрещён - девиз пикника, предназначенного только для девочек.",
        src: "../assets/img/hen-party/hen-party.jpg",
        alt: "date",
      }
  - 
    serviceInfo = { title: "Девичник",
        descr: "Посплетничать, обсудить новости и просто увидеться на природе и никуда не спешить - все это куда лучше делать в красивой обстановке, с любимыми закусками и в яркой атмосфере.",
      }
  - 
    categories = [
      { 
        price: '900',
        descr: 'Подготовленное безопасное место, комфортные подушки, украшения в выбранном вами стиле, 1 пакет -  вино, круассаны, фрукты, 2 пакет - багет, фрукты, сок, соус, 1 пакет - фрукты, напитки, круасаны, вода, красивая посуда, пледы на случай ветреной погоды, украшение живыми цветами, фотосьемка предметная и общая.',
        time: '3 часа.',
      },
      { 
        price: '1500',
        descr: 'Подготовленное безопасное место, комфортные подушки, украшения в выбранном вами стиле, 1 пакет - бисквитный сендвич с цветами, желе с цветами, напиток с цветами, 2 пакет - 2 лимонада, фрукты, реквизит, 2 пакет - хлеб, два вида сыра, фрукты, вино, французский багет, круассаны, вода, красивая посуда, пледы на случай ветреной погоды, украшение живыми цветами, фотосъемка предметная и общая.',
        time: '6 часов.',
      },
      { 
        price: '2000',
        descr: 'Подготовленное безопасное место, комфортные подушки, украшения в выбранном вами стиле, 1 пакет - бисквитный сендвич с цветами, желе с цветами, напиток с цветами, 2 пакет - 2 лимонада, фрукты, реквизит, 3 пакет - хлеб, два вида сыра, фрукты, вино, французский багет, круассаны, вода, красивая посуда, пледы на случай ветреной погоды, украшение живыми цветами, фотосъемка предметная и общая.',
        time: '8 часов.',
      },
      { 
        price: '3000',
        descr: 'Подготовленное безопасное место, комфортные подушки, украшения в выбранном вами стиле, 1 пакет - бисквитный сендвич с цветами, желе с цветами, напиток с цветами, 2 пакет - 2 лимонада, фрукты, реквизит, 4 пакет - хлеб, два вида сыра, фрукты, вино, французский багет, круассаны, вода, красивая посуда, пледы на случай ветреной погоды, украшение живыми цветами, фотосъемка предметная и общая.',
        time: '1 день.',
      },
    ]
  - 
    serviceNext = { title: "Свидание",
        link: "./date.html",
        src: "../assets/img/date/date.jpg",
        num: "001",
      }

block content
  div(class="hen-party service")
    +service-main(serviceMain)
    +service-number(num)
    +service-info(serviceInfo.title, serviceInfo.descr)
    +tickerImg(ticker)
    +categories(categories)
    +service-next(serviceNext)