extends ../layouts/default

block variables
  - const title = "Hen-party Page"
  - const description = "Hen-party Page"
  - const navColor = ""
  - const bodyClass = "bgPrimaryLight"
  - const theme = "darkToPrimary"
  - const num = "004"
  - 
    ticker = { src: "../assets/img/hen-party/c.png",
        alt: "bakery",
        num: 20,
        imgContainerClass: "small"
      }
  - 
    serviceMain = { pageTitle: "Девичник",
        title: "Предложение",
        descr: "Повседневная практика показывает, что сложившаяся структура организации представляет собой интересный эксперимент проверки.",
        src: "../assets/img/hen-party/hen-party.jpg",
        alt: "date",
      }
  - 
    serviceInfo = { title: "Повседневная",
        descr: "Повседневная практика показывает, что сложившаяся структура организации представляет собой интересный эксперимент проверки соответствующий условий активизации. Равным образом сложившаяся структура организации позволяет выполнять важные задания по разработке систем массового участия. Таким образом реализация намеченных плановых заданий позволяет оценить значение новых предложений.",
      }
  - 
    categories = [
      { 
        price: '600',
        descr: 'Равным образом сложившаяся структура организации позволяет выполнять важные задания по разработке систем массового участия. Таким образом реализация намеченных плановых заданий позволяет оценить.',
      },
      { 
        price: '1000',
        descr: 'Равным образом сложившаяся структура организации позволяет выполнять важные задания по разработке систем массового участия. Таким образом реализация намеченных плановых заданий позволяет оценить.',
      },
      { 
        price: '1500',
        descr: 'Равным образом сложившаяся структура организации позволяет выполнять важные задания по разработке систем массового участия. Таким образом реализация намеченных плановых заданий позволяет оценить.',
      },
    ]
  - 
    serviceNext = { title: "Свидание",
        link: "./date.html",
        src: "../assets/img/date/date.jpg",
        num: "001",
      }

block content
  div(class="hen-party service")
    +service-main(serviceMain)
    +service-number(num)
    +service-info(serviceInfo.title, serviceInfo.descr)
    +tickerImg(ticker)
    +categories(categories)
    +service-next(serviceNext)