extends ../layouts/default

block variables
  - const title = "Home Page"
  - const description = "Home Page"

block content
  include ../blocks/header/header
  div(class="home")
    main(class="home-main")
      div(class="home-main__wrapper")
        div(class="home-main__nav-wrapper")
          nav(class="home-main-nav")
            ul(class="home-main-nav__list")
              li(class="home-main-nav__item" data-tab="1")
                h2(class="home-main-nav__title") Услуги
                  a(class="home-main-nav__link" href="#")
              li(class="home-main-nav__item" data-tab="2")
                h2(class="home-main-nav__title") Стили
                  a(class="home-main-nav__link" href="#")
              li(class="home-main-nav__item" data-tab="3")
                h2(class="home-main-nav__title") Заказать
                  a(class="home-main-nav__link" href="#")
              li(class="home-main-nav__item" data-tab="4")
                h2(class="home-main-nav__title") Свидания
                  a(class="home-main-nav__link" href="#")
              li(class="home-main-nav__item" data-tab="5")
                h2(class="home-main-nav__title") Девичник
                  a(class="home-main-nav__link" href="#")
              li(class="home-main-nav__item" data-tab="6")
                h2(class="home-main-nav__title") Релакс
                  a(class="home-main-nav__link" href="#")
              li(class="home-main-nav__item" data-tab="7")
                h2(class="home-main-nav__title") I-Завтрак
                  a(class="home-main-nav__link" href="#")
              li(class="home-main-nav__item" data-tab="8")
                h2(class="home-main-nav__title") Контакты
                  a(class="home-main-nav__link" href="./contact.html")
              li(class="home-main-nav__item" data-tab="9")
                h2(class="home-main-nav__title") О Нас
                  a(class="home-main-nav__link" href="./about.html")
      div(class="home-main-preview")
        div(class="home-main-preview__item home-main-preview__item--services" data-tab="1")
          img(class="home-main-preview__img" src="../assets/img/home/services.jpg" alt="services")
        div(class="home-main-preview__item home-main-preview__item--styles" data-tab="2")
          img(class="home-main-preview__img" src="../assets/img/home/styles.jpg" alt="styles")
        div(class="home-main-preview__item home-main-preview__item--order" data-tab="3")
          img(class="home-main-preview__img" src="../assets/img/home/order.png" alt="order")
        div(class="home-main-preview__item home-main-preview__item--date" data-tab="4")
          img(class="home-main-preview__img" src="../assets/img/home/date.png" alt="date")
        div(class="home-main-preview__item home-main-preview__item--virgin" data-tab="5")
          img(class="home-main-preview__img" src="../assets/img/home/virgin.jpg" alt="virgin")
        div(class="home-main-preview__item home-main-preview__item--relax" data-tab="6")
          img(class="home-main-preview__img" src="../assets/img/home/relax.png" alt="relax")
        div(class="home-main-preview__item home-main-preview__item--breakfast" data-tab="7")
          img(class="home-main-preview__img" src="../assets/img/home/breakfast.png" alt="breakfast")
        div(class="home-main-preview__item home-main-preview__item--contact" data-tab="8")
          img(class="home-main-preview__img" src="../assets/img/home/contact.jpg" alt="contact")
        div(class="home-main-preview__item home-main-preview__item--about" data-tab="9")
          img(class="home-main-preview__img" src="../assets/img/home/about.jpg" alt="about")