extends ../layouts/default

block variables
  - const title = "Home Page"
  - const description = "Home Page"

block content
  div(class="home")
    main(class="container section home__section")
      h1(class="title home__title")
        a(class="home__link" href="/") Пастель.
      div(class="home__imgs")
        div(class="home__imgs-container")
          div(class="home__img-container home__img-container--first")
            img(class="home__img home__img--first" src="../assets/img/home/test.jpg" alt="flowers")
          div(class="home__img-container home__img-container--second")
            img(class="home__img home__img--second" src="../assets/img/home/test.jpg" alt="flowers")
          div(class="home__img-container home__img-container--third")
            img(class="home__img home__img--third" src="../assets/img/home/test2.jpg" alt="flowers")
    section(class="container section home__section")
      h2(class="title home__title")
        a(class="home__link" href="./date.html") Свидание
      div(class="home__imgs")
        div(class="home__imgs-container")
          div(class="home__img-container home__img-container--first")
            img(class="home__img" src="../assets/img/home/test.jpg" alt="flowers")
          div(class="home__img-container home__img-container--second")
            img(class="home__img " src="../assets/img/home/test.jpg" alt="flowers")
          div(class="home__img-container home__img-container--third")
            img(class="home__img" src="../assets/img/home/test2.jpg" alt="flowers")
    section(class="container section home__section")
      h2(class="title home__title")
        a(class="home__link" href="./relax.html") Релакс
      div(class="home__imgs")
        div(class="home__imgs-container")
          div(class="home__img-container home__img-container--first")
            img(class="home__img home__img--first" src="../assets/img/home/test.jpg" alt="flowers")
          div(class="home__img-container home__img-container--second")
            img(class="home__img home__img--second" src="../assets/img/home/test.jpg" alt="flowers")
          div(class="home__img-container home__img-container--third")
            img(class="home__img home__img--third" src="../assets/img/home/test2.jpg" alt="flowers")
    section(class="container section home__section")
      h2(class="title home__title")
        a(class="home__link" href="./breakfast.html") I-Завтрак
      div(class="home__imgs")
        div(class="home__imgs-container")
          div(class="home__img-container home__img-container--first")
            img(class="home__img home__img--first" src="../assets/img/home/test.jpg" alt="flowers")
          div(class="home__img-container home__img-container--second")
            img(class="home__img home__img--second" src="../assets/img/home/test.jpg" alt="flowers")
          div(class="home__img-container home__img-container--third")
            img(class="home__img home__img--third" src="../assets/img/home/test2.jpg" alt="flowers")
    section(class="container section home__section")
      h2(class="title home__title")
        a(class="home__link" href="./hen-party.html") Девичник
      div(class="home__imgs")
        div(class="home__imgs-container")
          div(class="home__img-container home__img-container--first")
            img(class="home__img home__img--first" src="../assets/img/home/test.jpg" alt="flowers")
          div(class="home__img-container home__img-container--second")
            img(class="home__img home__img--second" src="../assets/img/home/test.jpg" alt="flowers")
          div(class="home__img-container home__img-container--third")
            img(class="home__img home__img--third" src="../assets/img/home/test2.jpg" alt="flowers")