extends ../layouts/default

block variables
  - const title = "Relax Page"
  - const description = "Relax Page"
  - const navColor = "primaryToPrimaryLighter"
  - const bodyClass = "bgSecondary"
  - const theme = "darkToPrimaryLighter"
  - const num = "002"
  - 
    ticker = { src: "../assets/img/relax/cloud1.png",
        alt: "cloud",
        num: 20,
        imgContainerClass: "big"
      }
  - 
    serviceMain = { pageTitle: "Релакс",
        title: "",
        descr: "Создание расслабляющей обстановки с любимыми закусками.",
        src: "../assets/img/relax/relax.jpg",
        alt: "date",
      }
  - 
    serviceInfo = { title: "Релакс",
        descr: "Иногда так хочется остаться с собой наедине, чтобы можно было почитать, порисовать, помечтать или же просто насладиться единством с природой. Мы сделаем все возможное, чтобы вас окружала красота и покой, а вам останется только отдыхать и получать наслаждение.",
      }
  - 
    categories = [
      { 
        price: '900',
        descr: 'Подготовленное безопасное место, комфортные подушки, украшения в выбранном вами стиле, сырно-мясная тарелка, сезонные фрукты, французский багет, круассаны, вино или напиток на выбор, вода, посуда, пледы на случай ветреной погоды, украшение живыми цветами.',
        time: '2 часа.',
      },
      { 
        price: '1500',
        descr: 'Подготовленное безопасное место, комфортные подушки, украшения в выбранном вами стиль, сырно-мясная тарелка 2 сыра-2 мяса, сезонные фрукты, закуски и соусы, французский багет, круассаны, вино или напиток на выбор, вода, красивая посуда, пледы на случай ветреной погоды, украшение живыми цветами, пицца из вашего любимого заведения.',
        time: '2 часа.',
      },
      { 
        price: '2000',
        descr: 'Подготовленное безопасное место, комфортные подушки, украшения в выбранном вами стиле, сырно-мясная тарелка 3 сыра-3 мяса, больше фруктов, больше закусок, соусы, французский багет, круассаны, вино или напиток на выбор, вода, красивая посуда, пледы на случай ветреной погоды, украшение живыми цветами, пицца из вашего любимого заведения, шоколадная сладкая тарелка, блюдо «комплимент». ',
        time: '2 часа.',
      },
    ]
  - 
    serviceNext = { title: "I-Завтрак",
        link: "./breakfast.html",
        src: "../assets/img/breakfast/breakfast.jpg",
        num: "003",
      }

block content
  div(class="relax service")
    +service-main(serviceMain)
    +service-number(num)
    +service-info(serviceInfo.title, serviceInfo.descr)
    +tickerImg(ticker)
    +categories(categories)
    +service-next(serviceNext)