extends ../layouts/default

block variables
  - const title = "Relax Page"
  - const description = "Relax Page"
  - const navColor = "primaryToPrimaryLighter"
  - const bodyClass = "bgSecondary"
  - const theme = "darkToPrimaryLighter"
  - const num = "002"
  - 
    ticker = { src: "../assets/img/relax/cloud1.png",
        alt: "cloud",
        num: 20,
        imgContainerClass: "big"
      }
  - 
    serviceMain = { pageTitle: "Релакс",
        title: "Предложение",
        descr: "Повседневная практика показывает, что сложившаяся структура организации представляет собой интересный эксперимент проверки.",
        src: "../assets/img/relax/relax.jpg",
        alt: "date",
      }
  - 
    serviceInfo = { title: "Повседневная",
        descr: "Повседневная практика показывает, что сложившаяся структура организации представляет собой интересный эксперимент проверки соответствующий условий активизации. Равным образом сложившаяся структура организации позволяет выполнять важные задания по разработке систем массового участия. Таким образом реализация намеченных плановых заданий позволяет оценить значение новых предложений.",
      }
  - 
    categories = [
      { 
        price: '600',
        descr: 'Равным образом сложившаяся структура организации позволяет выполнять важные задания по разработке систем массового участия. Таким образом реализация намеченных плановых заданий позволяет оценить.',
      },
      { 
        price: '1000',
        descr: 'Равным образом сложившаяся структура организации позволяет выполнять важные задания по разработке систем массового участия. Таким образом реализация намеченных плановых заданий позволяет оценить.',
      },
      { 
        price: '1500',
        descr: 'Равным образом сложившаяся структура организации позволяет выполнять важные задания по разработке систем массового участия. Таким образом реализация намеченных плановых заданий позволяет оценить.',
      },
    ]
  - 
    serviceNext = { title: "I-Завтрак",
        link: "./breakfast.html",
        src: "../assets/img/breakfast/breakfast.jpg",
        num: "003",
      }

block content
  div(class="relax service")
    +service-main(serviceMain)
    +service-number(num)
    +service-info(serviceInfo.title, serviceInfo.descr)
    +tickerImg(ticker)
    +categories(categories)
    +service-next(serviceNext)