extends ../layouts/default

block variables
  - const title = "Services Page"
  - const description = "Services Page"
  - 
    services = [
      { type: '1',
        link: './date.html',
        title: 'Свидание',
        descr: 'Романтический пикник для двоих с красивым антуражем.',
        src: '../assets/img/services/1.jpg',
        alt: 'services',
      },
      { type: '2',
        link: './relax.html',
        title: 'Релакс',
        descr: 'Создание расслабляющей обстановки с любимыми закусками.',
        src: '../assets/img/services/2.jpg',
        alt: 'services',
      },
      { type: '1',
        link: './breakfast.html',
        title: 'I-Завтрак',
        descr: 'Создание трёх пикник-образов для фото, которые вы можете использовать для вашего Инстаграм блога, с последующим пикником с реквизитом.',
        src: '../assets/img/services/3.jpg',
        alt: 'services',
      },
      { type: '2',
        link: './hen-party.html',
        title: 'Девичник',
        descr: 'Мальчикам вход воспрещён - девиз пикника, предназначенного только для девочек.',
        src: '../assets/img/services/4.jpg',
        alt: 'services',
      },
    ]

block content
  main(class="services container")
    section(class="section services__main-section")
      h1(class="title title--main") Услуги
    +servicesSection(services)
    include ../blocks/packages/packages