extends ../layouts/default

block variables
  - const title = "Styles Page"
  - const description = "Styles Page"
  - 
    styles = [
      { type: '1',
        title: 'Винтаж',
        descr: 'Повседневная практика показывает, что сложившаяся структура организации представляет собой интересный эксперимент проверки соответствующий условий активизации. Равным образом сложившаяся структура организации позволяет выполнять важные задания по разработке систем массового участия. Таким образом реализация намеченных плановых заданий позволяет оценить значение новых предложений.',
        src: '../assets/img/styles/2.jpg',
        alt: 'vintage',
        classSpecial: 'first',
        srcSpecial: '../assets/img/styles/cola.png',
        altSpecial: 'cola',
      },
      { type: '2',
        title: 'Лайт',
        descr: 'Повседневная практика показывает, что сложившаяся структура организации представляет собой интересный эксперимент проверки соответствующий условий активизации. Равным образом сложившаяся структура организации позволяет выполнять важные задания по разработке систем массового участия. Таким образом реализация намеченных плановых заданий позволяет оценить значение новых предложений.',
        src: '../assets/img/styles/1.jpg',
        alt: 'vintage',
        classSpecial: 'second',
        srcSpecial: '',
        altSpecial: '',
      },
      { type: '1',
        title: 'Готик',
        descr: 'Повседневная практика показывает, что сложившаяся структура организации представляет собой интересный эксперимент проверки соответствующий условий активизации. Равным образом сложившаяся структура организации позволяет выполнять важные задания по разработке систем массового участия. Таким образом реализация намеченных плановых заданий позволяет оценить значение новых предложений.',
        src: '../assets/img/styles/3.jpg',
        alt: 'vintage',
        classSpecial: 'third',
        srcSpecial: '../assets/img/styles/blueberry.png',
        altSpecial: 'blueberry',
      },
    ]

block content
  main(class="styles container")
    section(class="section styles__main-section")
      h1(class="title title--main") Стили
    +stylesSection(styles)