extends ../layouts/default

block variables
  - const title = "Styles Page"
  - const description = "Styles Page"
  - 
    styles = [
      { type: '1',
        title: 'Винтаж',
        descr: 'Данный стиль мероприятия - это скатерть из льна, винтажная посуда, полевые цветы и плетёные элементы декора. Антураж будет выполнен в лучших традициях актуального сейчас в Инстаграме - французском стиле.',
        src: '../assets/img/styles/2.jpg',
        alt: 'vintage',
        classSpecial: 'first',
        srcSpecial: '../assets/img/styles/cola.png',
        altSpecial: 'cola',
      },
      { type: '2',
        title: 'Лайт',
        descr: 'Мероприятие в данном стиле подразумевает оформление в светлых тонах. Скатерти пастельных оттенков, современная светлая корзинка для пикника, белая посуда, однотонные подушки и плед. Данная раскладка соответствует современному и непринужденному видению романтического торжества.',
        src: '../assets/img/styles/1.jpg',
        alt: 'vintage',
        classSpecial: 'second',
        srcSpecial: '',
        altSpecial: '',
      },
      { type: '1',
        title: 'Готик',
        descr: 'Оформление мероприятия в готическом стиле представляет собой темные тона посуды и реквизита, дубовый поднос, серебряные элементы, свечи и черепа по желанию. Если вы хотите ощутить себя на романтическом приеме у графа Дракулы или просто проникнуться эстетикой смерти и чёрного цвета, то этот стиль для вас.',
        src: '../assets/img/styles/3.jpg',
        alt: 'vintage',
        classSpecial: 'third',
        srcSpecial: '../assets/img/styles/blueberry.png',
        altSpecial: 'blueberry',
      },
    ]

block content
  main(class="styles container")
    section(class="section styles__main-section")
      h1(class="title title--main") Стили
    +stylesSection(styles)