extends ../layouts/default

block variables
  - const title = "Pastel спасибо за заказ!"
  - const description = "Спасибо, что выбрали наш сервис!"

block content
  div(class="home")
    div(class="container")
      p() Спасибо за ЗАКАЗ