extends ../layouts/default

block variables
  - const title = "Thank You Page"
  - const description = "Thank You Page"

block content
  div(class="home")
    div(class="container")
      p() Спасибо за ЗАКАЗ