footer(class="footer")
  div(class="footer__content container")
    nav(class="footer__nav")
      a(class="footer__link") Услуги
      a(class="footer__link") Галерея
    div(class="footer__copyright")
      span() &copy; 2020