footer(class="footer")
  div(class="footer__content container")
    nav(class="footer__nav")
      a(class="footer__link" href="./services.html") Услуги
      a(class="footer__link" href="./gallery.html") Галерея
    div(class="footer__copyright")
      span() &copy; 
      span(class="footer__date") 2019