.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: $primary;
  &__content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav, &__copyright {
    position: fixed;
    bottom: $container-padding;
    z-index: 10;
  }
  &__nav, {
    font-size: 3vh;
    left: $container-padding;
  }
  &__copyright {
    font-size: 2vh;
    right: $container-padding;
  }
  &__link {
    display: inline-block;
    margin-right: 14px;
    color: $primary;
    &:last-child {
      margin-right: 0;
    }
  }
}